<section class="main__container main__container--background-image">
  <h1 class="pizzas__title">Success!! We've added the following pizza using your input.</h1>
  <h1 class="pizzas__title">{{pizza.name}}</h1>
  <p class="pizzaDetail__description">{{pizza.description}}</p>
  <div class="pizzaDetail__container">
    <img class="pizzaDetail__image" src="../images/pizzasymbol.png" alt="{{pizza.name}} {{pizza.photoUrl}} stock photo" />
    <ul class="pizzaDetail__list pizzaDetail__list--position-right">
      <p class="pizzaDetail__subtitle">Ingredients:</p>
      {{#each pizza.ingredients}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <ol class="pizzaDetail__list--position-fullrow">
      <p class="pizzaDetail__subtitle">Instructions:</p>
      {{#each pizza.instructions}}
      <li class="pizzaDetail__listitem">{{this}}</li><br />
      {{/each}}
    </ul>
  </div>
</section>
