<section class="main__container main__container--background-image">
  <details closed>
    <summary class="dropdown__title" >PracticePizza Favourites</summary>
    <ul class="pizzas__list">

      {{#each pizzaStatic}}

      <li class="pizzas__item">
        <a href="/pizza/{{this.name}}" class="pizzas__link pizzas__item--hover">
          <h1 class="pizzas__title">{{this.name}}</h1>
          <p class="pizzas__description">{{this.description}}</p>
          <img class="pizzas__image" src="{{this.photoUrl}}" alt="{{this.name}} stock photo" />
        </a>
      </li>

      {{/each}}

    </ul>
  </details>
  <details closed>
    <summary class="dropdown__title" >Your Submissions</summary>
    <ul class="pizzas__list">

      {{#each pizzaDatabase}}

      <li class="pizzas__item">
        <a href="/pizza/{{this.name}}" class="pizzas__link pizzas__item--hover">
          <h1 class="pizzas__title">{{this.name}}</h1>
          <p class="pizzas__description">{{this.description}}</p>
          <img class="pizzas__image" src="{{this.photoUrl}}" alt="{{this.name}} stock photo" />
        </a>
      </li>

      {{/each}}

    </ul>
  </details>

</section>
