<section class="main__container main__container--background-image">
  <details closed>
    <summary class="dropdown__title" >PracticePizza Favourites</summary>
    <ul class="pizzas__list">

      {{#each pizzaDatabase}}{{#if admin}}

      <li class="pizzas__item">
        <a href="/pizza/{{this.name}}" class="pizzas__link pizzas__item--hover">
          <h1 class="pizzas__title">{{this.name}}</h1>
          <p class="pizzas__description">{{this.description}}</p>
          <img class="pizzas__image" src="{{this.img}}" alt="{{this.name}} stock photo" />
        </a>
      </li>

      {{/if}}{{/each}}

    </ul>
  </details>
  <details closed>
    <summary class="dropdown__title" >Your Submissions</summary>
    <ul class="pizzas__list">

      {{#each pizzaDatabase}}{{#unless admin}}

      <li class="pizzas__item">
        <a href="/pizza/{{this.name}}" class="pizzas__link pizzas__item--hover">
          <h1 class="pizzas__title">{{this.name}}</h1>
          <p class="pizzas__description">{{this.description}}</p>
          <img class="pizzas__image" src="./images/pizzasymbol.png" alt="{{this.name}} photo" />
          <p class="pizzas__description">Submitted by: {{this.author}}</p>
        </a>
      </li>

      {{/unless}}{{/each}}

    </ul>
  </details>

</section>
